@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#wrapper {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FBFBF2;
  color: #928d8d;
  font-family: '微軟正黑體';
  font-weight: 200;
  overflow: hidden;
  background-color: #fbfbf2;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23aca292' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.main {
  display: inline-block;
}

.btn-wrap {
  margin: 20px auto;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-wrap span {
  cursor: pointer;
  margin: 10px;
  width: 13px;
  height: 13px;
  background-color: #b1afaf;
  border-radius: 50%;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn-wrap span.current {
  background-color: #555b6e;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 767px) {
  .btn-wrap {
    width: 70%;
  }
  .btn-wrap span {
    margin: 6px;
  }
}

#book {
  width: 1000px;
  height: 667px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
}

@media screen and (max-width: 1024px) {
  #book {
    width: 750px;
    height: 500px;
  }
}

@media screen and (max-width: 767px) {
  #book {
    width: 350px;
    height: 233px;
  }
}

.book-item {
  width: 100%;
  height: 100%;
}

.page {
  width: 50%;
  height: 100%;
  float: left;
  position: relative;
}

.page-bk-01 {
  width: 100%;
  height: 100%;
  background-image: url("../image/01.jpg");
  background-size: cover;
  background-position: center center;
  opacity: .15;
  position: absolute;
  top: 0;
  left: 0;
}

.page-bk-02 {
  width: 100%;
  height: 100%;
  background-image: url("../image/02.jpg");
  background-size: cover;
  background-position: center center;
  opacity: .15;
  position: absolute;
  top: 0;
  left: 0;
}

.page-bk-03 {
  width: 100%;
  height: 100%;
  background-image: url("../image/03.jpg");
  background-size: cover;
  background-position: center center;
  opacity: .15;
  position: absolute;
  top: 0;
  left: 0;
}

.page-bk-04 {
  width: 100%;
  height: 100%;
  background-image: url("../image/04.jpg");
  background-size: cover;
  background-position: center center;
  opacity: .15;
  position: absolute;
  top: 0;
  left: 0;
}

.page-bk-05 {
  width: 100%;
  height: 100%;
  background-image: url("../image/05.jpg");
  background-size: cover;
  background-position: center center;
  opacity: .15;
  position: absolute;
  top: 0;
  left: 0;
}

.page-bk-06 {
  width: 100%;
  height: 100%;
  background-image: url("../image/06.jpg");
  background-size: cover;
  background-position: center center;
  opacity: .15;
  position: absolute;
  top: 0;
  left: 0;
}

.page-bk-07 {
  width: 100%;
  height: 100%;
  background-image: url("../image/07.jpg");
  background-size: cover;
  background-position: center center;
  opacity: .15;
  position: absolute;
  top: 0;
  left: 0;
}

.name {
  color: #8f8c8c;
  font-size: 36px;
  letter-spacing: 3px;
  white-space: nowrap;
}

@media screen and (max-width: 767px) {
  .name {
    font-size: 16px;
  }
}

.content {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  letter-spacing: 1.5px;
  line-height: 1.8;
}

@media screen and (max-width: 767px) {
  .content {
    font-size: 12px;
    letter-spacing: .5px;
  }
}

.img {
  width: 95%;
  margin: 2.5%;
}

.button-prev, .button-next {
  width: 60px;
  height: 60px;
  cursor: pointer;
  position: absolute;
  bottom: 0%;
  border-radius: 50%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.button-prev img, .button-next img {
  width: 50%;
  height: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.button-prev:hover img, .button-next:hover img {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

@media screen and (max-width: 1024px) {
  .button-prev, .button-next {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 767px) {
  .button-prev, .button-next {
    width: 30px;
    height: 30px;
  }
}

.button-prev {
  left: 0%;
}

.button-next {
  right: 0%;
}

.button-next:hover .btn-wrap {
  display: none;
}

.title-bk-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../image/04.jpg");
  background-size: cover;
  background-position: top;
}

.title-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 20% auto 0 auto;
  background-color: transparent;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: perspective(500px);
          transform: perspective(500px);
}

.title-box div {
  width: 100%;
  height: 100%;
  font-family: 'Amatic SC', cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffffcc;
}

.title-box div:first-child {
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  -webkit-transform: translateZ(100px);
          transform: translateZ(100px);
  font-size: 80px;
}

.title-box div:nth-child(2) {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-transform: translateZ(50px);
          transform: translateZ(50px);
  font-size: 50px;
}

.title-box .ill-by-kaito {
  margin-top: 5%;
  text-align: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  color: #ffffffcc;
  -webkit-transform: translateZ(30px);
          transform: translateZ(30px);
}

@media screen and (max-width: 767px) {
  .title-box div:first-child {
    font-size: 40px;
  }
  .title-box div:nth-child(2) {
    font-size: 25px;
  }
  .title-box .ill-by-kaito {
    font-size: 12px;
  }
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10%;
  background-color: #FBFBF2;
  overflow: hidden;
}

.catalog .catalog-item {
  width: 100%;
  height: 8%;
  margin: 1.5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  cursor: pointer;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  letter-spacing: 1.5px;
}

.catalog .catalog-item span {
  display: inline-block;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.catalog .catalog-item span:first-child {
  width: 20%;
  font-family: 'Amatic SC', cursive;
  font-size: 45px;
  color: #847577;
}

.catalog .catalog-item span:last-child {
  width: 70%;
  font-size: 16px;
  font-weight: 200;
}

.catalog .catalog-item:hover span {
  -webkit-transform: translateZ(20px) scale(1.2);
          transform: translateZ(20px) scale(1.2);
}

.catalog .catalog-item:hover span:first-child {
  color: #a6a2a2;
}

.catalog .catalog-item:hover span:last-child {
  color: #555b6e;
}

@media screen and (max-width: 1024px) {
  .catalog .catalog-item {
    margin: 3% 0;
  }
}

@media screen and (max-width: 767px) {
  .catalog .catalog-item {
    margin: 5% 0;
    letter-spacing: .5px;
  }
  .catalog .catalog-item span {
    white-space: nowrap;
  }
  .catalog .catalog-item span:first-child {
    width: 10%;
    font-size: 25px;
  }
  .catalog .catalog-item span:last-child {
    width: 85%;
    font-size: 12px;
  }
}

.page-01 .name {
  position: absolute;
  top: 30%;
  left: 15%;
}

.page-01 .content {
  position: absolute;
  top: 45%;
  left: 20%;
}

@media screen and (max-width: 767px) {
  .page-01 .name {
    left: 4%;
  }
  .page-01 .content {
    left: 4%;
  }
}

.page-02 {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.page-02 .img {
  width: unset;
  margin: 0;
  height: 101%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  vertical-align: middle;
}

.page-02 .name {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  position: absolute;
  top: 10%;
  left: 6%;
  letter-spacing: 5px;
}

.page-02 .content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  top: 25%;
  left: 89%;
}

.page-02 .content span {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  letter-spacing: 5px;
}

.page-02 .content span:last-child {
  margin-top: 140px;
}

@media screen and (max-width: 1024px) {
  .page-02 .content {
    top: 15%;
  }
}

@media screen and (max-width: 767px) {
  .page-02 .content {
    top: 6%;
    left: 85%;
    letter-spacing: 2.5px;
  }
  .page-02 .content span:last-child {
    margin-top: 60px;
  }
}

.page-03 .name {
  position: absolute;
  top: 30%;
  left: 15%;
}

.page-03 .content {
  position: absolute;
  top: 50%;
  left: 45%;
  text-align: right;
}

@media screen and (max-width: 1024px) {
  .page-03 .name {
    left: 3%;
  }
}

@media screen and (max-width: 767px) {
  .page-03 .content {
    left: 18%;
  }
}

.page-04 .name {
  position: absolute;
  top: 25%;
  left: 14%;
}

.page-04 .content {
  position: absolute;
  top: 40%;
  left: 15%;
  text-align: left;
}

@media screen and (max-width: 1024px) {
  .page-04 .name {
    left: 3%;
  }
  .page-04 .content {
    left: 4%;
  }
}

@media screen and (max-width: 767px) {
  .page-04 .content {
    left: 0%;
    text-align: center;
  }
}

.page-05 {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.page-05 .img {
  width: unset;
  margin: 0;
  height: 101%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  vertical-align: middle;
}

.page-05 .name {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  position: absolute;
  top: 18%;
  left: 9%;
  letter-spacing: 5px;
}

.page-05 .content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  top: 20%;
  left: 85%;
}

.page-05 .content span {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  letter-spacing: 5px;
}

.page-05 .content span:last-child {
  margin-top: 100px;
}

@media screen and (max-width: 1024px) {
  .page-05 .content {
    top: 8%;
  }
}

@media screen and (max-width: 767px) {
  .page-05 .content {
    top: -3%;
    left: 81%;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .page-05 .content span {
    letter-spacing: 2.5px;
  }
  .page-05 .content span:last-child {
    margin-top: 20px;
  }
}

.page-06 .name {
  position: absolute;
  top: 30%;
  left: 54%;
}

.page-06 .content {
  position: absolute;
  top: 45%;
  left: 45%;
  text-align: right;
}

@media screen and (max-width: 767px) {
  .page-06 .content {
    left: 20%;
  }
}

.page-07 .name {
  position: absolute;
  top: 25%;
  left: 14%;
}

.page-07 .content {
  position: absolute;
  top: 45%;
  left: 15%;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .page-07 .content {
    top: 40%;
    left: 15%;
  }
}

.page-bk-08 {
  width: 100%;
  height: 100%;
  background-image: url("../image/04.jpg");
  background-size: cover;
  background-position: bottom center;
  opacity: .5;
  position: absolute;
  top: 0;
  left: 0;
}

.page-08 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-08 a {
  width: 180px;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all .3s;
  transition: all .3s;
  text-decoration: none;
  outline: none;
}

.page-08 a::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../image/sparkles.gif");
  background-position: center;
  opacity: .3;
}

.page-08 a span {
  display: inline-block;
  margin: 3px;
  color: #FFFFFF;
  font-size: 18px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: 1;
}

.page-08 a span:last-child {
  font-size: 24px;
}

.page-08 a .icon-ig {
  width: 28px;
  height: 28px;
  vertical-align: middle;
}

.page-08 a:hover {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.page-08 a:hover::before {
  opacity: .8;
}

.page-08 a:hover span {
  -webkit-transform: translateZ(50px);
          transform: translateZ(50px);
}
/*# sourceMappingURL=style.css.map */