@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
// font-family: 'Amatic SC', cursive;

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100&display=swap');
// font-family: 'M PLUS Rounded 1c', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FBFBF2;
  color: #A6A2A2;
  font-family: '微軟正黑體';
  font-weight: 200;
  overflow: hidden;
  background-color: #fbfbf2;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23aca292' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.main {
  display: inline-block;
}

.btn-wrap {
  margin: 20px auto;
  width: 50%;
  display: flex;
  justify-content: center;

  span {
    cursor: pointer;
    margin: 10px;
    width: 13px;
    height: 13px;
    background-color: #b1afaf;
    border-radius: 50%;
    transition: all .2s;
  }
  span.current {
    background-color: #555b6e;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
  }
}

#book {
  width: 1000px;
  height: 667px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
  position: relative;
}

.book-item {
  width: 100%;
  height: 100%;
}

.page {
  width: 50%;
  height: 100%;
  float: left;
  position: relative;
}

@for $i from 1 through 7 {
  .page-bk-0#{$i} {
    width: 100%;
    height: 100%;
    background-image: url('../image/0#{$i}.jpg');
    background-size: cover;
    background-position: center center;
    opacity: .15;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.name {
  color: #a6a2a2;
  font-size: 36px;
  letter-spacing: 3px;
}
.content {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  letter-spacing: 1.5px;
  line-height: 1.8;
}
.img {
  width: 95%;
  margin: 2.5%;
}
.button-prev, .button-next {
  width: 60px;
  height: 60px;
  cursor: pointer;
  position: absolute;
  bottom: 0%;
  border-radius: 50%;
  transition: all .3s;
  img {
    width: 50%;
    height: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s;
  }
  &:hover {
    img {
      transform: translate(-50%, -50%) scale(1.2);
      filter: brightness(1.2);
    }
  }
}
.button-prev {
  left: 0%;
}

.button-next {
  right: 0%;
}

.button-next:hover .btn-wrap {
  display: none;
}


// ----- 標題頁
.title-bk-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../image/04.jpg');
  background-size: cover;
  background-position: top;
}

.title-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 20% auto 0 auto;
  background-color: transparent;
  transform-style: preserve-3d;
  transform: perspective(500px);

  div {
    width: 100%;
    height: 100%;
    font-family: 'Amatic SC', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffffcc;
    &:first-child {
      text-shadow: 0 0 15px rgba(0, 0, 0, .4);
      transform: translateZ(100px);
      font-size: 80px;
    }
    &:nth-child(2) {
      text-shadow: 0 0 10px rgba(0, 0, 0, .3);
      transform: translateZ(50px);
      font-size:  50px;
    }
  }

  .ill-by-kaito {
    margin-top: 5%;
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    color: #ffffffcc;
    transform: translateZ(30px);
  }
}

// ----- 目錄
.catalog {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10%;
  background-color: #FBFBF2;

  .catalog-item {
    width: 100%;
    height: 8%;
    margin: 1.5% 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    cursor: pointer;
    transform-style: preserve-3d;
    letter-spacing: 1.5px;

    span {
      display: inline-block;
      transition: all .3s;
      &:first-child {
        width: 20%;
        font-family: 'Amatic SC', cursive;
        font-size: 45px;
        color: #847577;
      }
      &:last-child {
        width: 70%;
        font-size: 16px;
        font-weight: 200;
      }
    }

    &:hover {
      span {
        transform: translateZ(20px) scale(1.2);
        &:first-child {
          color: #a6a2a2;
        }
        &:last-child {
          color: #555b6e;
        }
      }
    }
  }
}

// ----- 01 普隆德拉原野
.page-01 {
  .name {
    position: absolute;
    top: 30%;
    left: 15%;
  }
  .content {
    position: absolute;
    top: 45%;
    left: 20%;
  }
}

// ----- 02 超級初心者登場！
.page-02 {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  .img {
    width: unset;
    margin: 0;
    height: 101%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    vertical-align: middle;
  }
  .name {
    writing-mode: vertical-lr;
    position: absolute;
    top: 10%;
    left: 6%;
    letter-spacing: 5px;
  }
  .content {
    flex-direction: row;
    position: absolute;
    top: 25%;
    right: 6%;
    span {
      writing-mode: vertical-lr;
      letter-spacing: 5px;
      &:last-child {
        margin-top: 140px;
      }
    }
  }
}

// ----- 03 瀑布前的忍者與忍蛙
.page-03 {
  .name {
    position: absolute;
    top: 30%;
    left: 15%;
  }
  .content {
    position: absolute;
    top: 50%;
    left: 45%;
    text-align: right;
  }
}

// ----- 04 蘇格拉特沙漠的夜晚
.page-04 {
  .name {
    position: absolute;
    top: 25%;
    left: 14%;
  }
  .content {
    position: absolute;
    top: 40%;
    left: 15%;
    text-align: left;
  }
}

// ----- 05 共同戰線
.page-05 {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  .img {
    width: unset;
    margin: 0;
    height: 101%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    vertical-align: middle;
  }
  .name {
    writing-mode: vertical-lr;
    position: absolute;
    top: 18%;
    left: 9%;
    letter-spacing: 5px;
  }
  .content {
    flex-direction: row;
    position: absolute;
    top: 20%;
    right: 9%;
    span {
      writing-mode: vertical-lr;
      letter-spacing: 5px;
      &:last-child {
        margin-top: 100px;
      }
    }
  }
}

// ----- 06 織花圈
.page-06 {
  .name {
    position: absolute;
    top: 30%;
    left: 54%;
  }
  .content {
    position: absolute;
    top: 45%;
    left: 45%;
    text-align: right;
  }
}

// ----- 07 寬廣配藥！
.page-07 {
  .name {
    position: absolute;
    top: 25%;
    left: 14%;
  }
  .content {
    position: absolute;
    top: 45%;
    left: 15%;
    text-align: left;
  }
}

// ----- 08 Kaito
.page-bk-08 {
  width: 100%;
  height: 100%;
  background-image: url('../image/04.jpg');
  background-size: cover;
  background-position: bottom center;
  opacity: .5;
  position: absolute;
  top: 0;
  left: 0;
}
.page-08 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  a {
    width: 180px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    transform-style: preserve-3d;
    transition: all .3s;
    text-decoration: none;
    outline: none;
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background-image: url('../image/sparkles.gif');
      background-position: center;
      opacity: .3;
    }


    span {
      display: inline-block;
      margin: 3px;
      color: #FFFFFF;
      font-size: 18px;
      font-family: 'M PLUS Rounded 1c', sans-serif;
      transition: all .3s;
      z-index: 1;
      &:last-child {
        font-size: 24px;
      }
    }

    .icon-ig {
      width: 28px;
      height: 28px;
      vertical-align: middle;
    }

    &:hover {
      box-shadow: 0 0 20px rgba(0, 0, 0, .5);
      &::before {
        opacity: .8;
      }
      span {
        transform: translateZ(50px);
      }
    }
  }
}
